<html>
   <head>
     <title>Blue Valley English School</title>
     <meta name="og:image" content="./meta_image.jpg">
     <script src="/templates/commonJs.js"></script>

   </head>

   <body>
        <div id="common-content" style="width: 100%;">
        </div>

        <div style="position: absolute; top: 45%; size: 18px;">
        <ul>
        <li><a href="https://www.facebook.com/BlueMountainBidkin/" target="_blank" rel="noopener noreferrer">FACEBOOK</li>
        <li><a href="https://www.youtube.com/channel/UCQ2eLyhCCF-IEFqbxm5-1OQ/" target="_blank" rel="noopener noreferrer">YOUTUBE</a></li>
        <li><a href="https://goo.gl/maps/CVDoT2vDeKLVQNMz5" target="_blank" rel="noopener noreferrer">MAPS</a></li>
        </ul>
        </div>

        <script>

        loadCommonContent();

        </script>
    </body>
</html>
